# Temp files
.*.sw[op]
/tmp/

# 3rd party
/.bundle/
/.idea/
/vendor/
/.vagrant/

# Docs
.yardoc
.yardwarns
/doc/

# Test related
/junit/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/convert_report.txt
/coverage/

# misc
.metadata
*.iml
/bin/
/log/
/pkg/
/update_report.txt
.DS_Store
